input[type="range"] {
    height: 5px;
    -webkit-appearance: none;
    width: 70%;
    margin-bottom: 36px;
    border-radius: 8px;
    transition: background 0.2s ease;
    cursor: pointer;
    accent-color: #000000;
}

.audio-player {
    position: relative;
    max-width: 414px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: #FFF;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}

.title {
    width: fit-content;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 9px;
    color: #000;
}

.subtitle {
    width: fit-content;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
    color: #000;
}

.submit-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    border-radius: 22px;
    padding: 12.5px 0;
}

.submit-btn-disabled-yellow {
    background-color: #FFE7A2;
    color: #B3B3B3;
}

.submit-btn-disabled-green {
    background-color: #C8F2DE;
    color: #B3B3B3;
}

.submit-btn-disabled-blue {
    background-color: #CFF2F2;
    color: #B3B3B3;
}

.track-info-bg {
    min-height: 478px;
    padding-top: 50px;
    padding-bottom: 88px;
    display: flex;
    flex-direction: column;
}

.track-info-bg-yellow, .submit-btn-yellow {
    background-color: #FFC524;
}

.track-info-bg-blue, .submit-btn-blue {
    background-color: #82E6E6;
}

.submit-btn-green {
    background-color: #308c56;
}

.track-info-bg-green {
    background-image: url("../assets/images/gym-session.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.track-inner-image {
    display: block;
    margin: auto auto 0;
}

.subtitle-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.audio-progress-block {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.audio-loading-block {
    color: black;
    font-weight: 600;
    min-height: 343px;
    padding-top: 50%;
}

.audio-time {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.reps-block {
    width: 65px;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.audio-player-close {
    color: black;
    display: block;
    position: absolute;
    right: -20px;
}

.audio-player-close:hover {
    cursor: pointer;
}

.audio-controls-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
