@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Matter';
  src: local('Matter'),
  url('./assets/fonts/Matter/Matter-Medium.woff') format('woff');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Matter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
